
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

$max-width : 1583px;
$min-width : 1318px;


.text__img{
    display: flex;
    gap: 10px;
    align-items: center;
     
}

.banner__img{
    background-image: url('/image/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: full;
    display: flex;
    justify-content: center;

}
.containerr{
    width: 1151px;
    
}
.container__patner{
    max-width: $min-width;
    margin: auto;
   
}
.containerrr{
    max-width: $min-width;
    margin: auto;
    height: 700px;
    z-index: 0;
}
.container__cars{
    max-width: $min-width;
    margin: auto;
    height: 400;

}
.background__img{
    background-image: url('/image/banner-2.png');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.background__img3{
    background-image: url('/image/banner-3.png');
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.footer__background{
    background-image: url('/image/footer_shape.png');
    height: 240px;
    
}

.icon__design{
    width: 50px;
    height: 50px;

}

.nav__hover:hover{
    color: rgb(3, 153, 253);
    border-bottom: 2px solid rgb(3, 153, 253);
    transition: .4s;
    overflow: hidden;
    outline: none;
}

 